# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
!command/PERDIX-BEVELED.exe
!tools/sleep.exe
!tools/meshconv.exe
*.out
*.app
make/Debug
make/Release
make/x64
*.u2d
make/output
.vs
*.11
*.101
fort.*
/make/Report_6HB_beveled_max.txt
